body {
    background-image: url(../images/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;
}

.crew-page h1 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 24px;
}

.crew-page strong {
    opacity: 0.25;
    margin-right: 16px;
}

.teste {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

#image-crew {
    margin-top: 32px;
    text-align: center;
    justify-content: center;
}

#image-crew img{
    width: 200px;
}

#image-crew hr{
    margin: 0 auto 0 auto;
    width: 85%;
    color: #fff;
    text-align: center;
}

.crew-info {
    text-align: center;
    justify-content: center;
    width: 327px;
    margin: 0 auto 0 auto;
}

.crew-info nav {
    align-content: center;
    text-align: center;
    margin: 32px auto 0 auto;
    padding: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
}

.crew-info nav ul {
    display: flex;
    padding: 0;
}

.crew-info nav ul li {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    opacity: 0.17;
    margin:0 8px 0 8px;
    list-style: none;
}

.crew-info nav ul li:hover {
    opacity: 0.6;
}

.crew-info nav ul li.action-btn {
    opacity: 1;
}

.crew-info h3 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.crew-info h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 8px auto 16px auto;
}

.crew-info p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
}

.desktop {
    display: none;
}

.douglas {
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10% 0 10%; 
}

.mark {
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10% 0 10% !important; 
    background-color: transparent!important;
}

.victor {
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10% 0 10%; 
}

.anousheh {
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10% 0 10%; 
}


/* Desktop */

@media (min-width: 999px) {

    .mobile {
        display: none !important;
    }

    .desktop{
        display: flex;

    }


    body {
        background-image: url(../images/crew/background-crew-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
    }

    #text-mark {
        border-bottom: 3px solid #fff;
        margin-top: 33px;
        padding-bottom: 32px;
    }

    .crew-page h1 {
        margin: 106px auto 0 15%;
        height: 34px;
        left: 14.14%;
        top: 262px;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 4.725px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: left;
    }

    .crew-page strong {
        opacity: 0.25;
        margin-right: 26px;
    }

    .crew-info-desktop {
        margin: 0 10% 5% 15%;
    }

    .crew-info-desktop nav ul li {
        cursor: pointer;
    }

    .crew-info-desktop nav ul li.action-btn {
        opacity: 1;
    }

    
    .crew-info-desktop h3 {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin: 25% 0 15px 0;
    }

    .crew-info-desktop h2 {
        width: max-content;
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .crew-info-desktop p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #D0D6F9;
        width: 444px;
        margin: 27px 0 120px 0;
    }

    .crew-info-desktop nav ul {
        display: flex;
        padding: 0;
    }

    .crew-info-desktop nav ul li {
        background: #fff;
        border: 10px solid #fff;
        border-radius: 50%;
        opacity: 0.17;
        margin-right: 24px;
        list-style: none;
    }

    .crew-info-desktop nav ul li:hover {
        opacity: 0.6;
    }

    .action-btn {
        opacity: 1;
    }

    .douglas {
        display: flex;
        padding-right: 30%;
        padding-left: 20%;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        margin: 44px auto auto auto;
        justify-content: center;
    }

    .mark {
        display: flex;
        padding-right: 30% !important;
        padding-left: 20% !important;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        margin: 44px auto auto auto;
        justify-content: center;
    }

    .victor {
        display: flex;
        padding-right: 30%;
        padding-left: 20%;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        margin: 44px auto auto auto;
        justify-content: center;
    }

    .anousheh {
        display: flex;
        padding-right: 30%;
        padding-left: 20%;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        margin: 44px auto auto auto;
        justify-content: center;
    }


}