
body {
    background-image: url(../images/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#text-mark {
    border-bottom: 3px solid #fff;
    margin-top: 33px;
    padding-bottom: 32px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 256px 165px 20vh 15%;
}

.about {
    width: 450px;
    height: 382px;
}

.about h3 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
}

.about h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.about p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;

}

.explore {
    position: absolute;
    right: 15%;
    top: 400px;
    background-color: #FFFFFF;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.explore:hover {
    box-shadow: 0px 0px 0px 70px rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}


.explore a {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #0B0D17;
    text-transform: uppercase;
    text-decoration: dashed;
}

.explore a:hover {
    color: #0B0D17;
}



@media (max-width: 999px) {
    body {
        background-image: url(../images/home/background-home-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
    }
    #text-mark {
        border-bottom: 0px solid transparent;
        margin-top: 0;
        padding-bottom: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 48px auto auto auto;
        align-items: center;

    }

    .about {
        width: 327px;
        height: 276px;
        margin: 48px auto 81px auto;

    }
    
    .about h3 {
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2.7px;
        color: #D0D6F9;
    }
    
    .about h1 {
        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 100px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .about p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #D0D6F9;
    }

    .explore {
        width: 150px;
        height: 150px;
        position:static;
        margin-bottom: 50px;
    }

    .explore a {
        font-size: 20px;
    }
    
    .explore:hover {
    box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.2);
    }
}