body {
    background-image: url('/images/home/background-home-mobile-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;
    text-align: center;
}

.about {
    width: 327px;
    height: 276px;
    align-items: center;
    text-align: center;
    justify-content: center ;
    margin: 48px auto 81px auto;
}

.about h3 {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #D0D6F9;
}

.about h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 16px;
}

.about p {
    font-family:'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #D0D6F9;
    margin: 16px 24px auto 24px;
}

.explore {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.explore a {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #0B0D17;
    text-transform: uppercase;
    text-decoration: dashed;
}